.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* @media screen and (max-width: 1400px) {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 20px;
  }
} */
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
